root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[**.{S,asm,s}]
indent_style = tab
indent_size = 8

[{**.{awk,bash**,bat,go,sh,stp,stpm},.profile}]
indent_style = tab
indent_size = 4

[{**.{ac,am,mk},GNUmakefile,Makefile,makefile}]
indent_style = tab
indent_size = 4

[{**.{Containerfile,Dockerfile},Containerfile,Dockerfile}]
indent_style = tab
indent_size = 4

[{.gitconfig,.config/git/config,.git/config}]
indent_style = tab
indent_size = 4

[**.{C,c,c++,cc,cpp,cxx,h,h++,hh,hpp,hxx}]
indent_style = space
indent_size = 4

[**.{ps1,py,rs,sql,tcl,vim,zig,zon}]
indent_style = space
indent_size = 4

[**.{f,f77,f90,f95,f03,f08,f18,f23,for}]
indent_style = space
indent_size = 4

[**.{ex,exs,fnl,ll,lua,nix,r,rkt,scm}]
indent_style = space
indent_size = 2

[**.{cjs,cts,js,json,jsx,mjs,mts,ts,tsx}]
indent_style = space
indent_size = 2

[**.{css,htm,html,scss,svg,xml}]
indent_style = space
indent_size = 2

[**.{toml,yaml,yml}]
indent_style = space
indent_size = 2

[**.{adoc,md,rst,tex,typ}]
indent_style = space
indent_size = 2
